@import "variables";
@import "mixins";


.widget {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e9e9e9;
  border-radius: 10px;

  @include respond-to($media_large) {
    display: flex;
  }

  &__items {
    display: flex;
    flex-direction: column;

    @include respond-to($media_medium) {
      display: grid;
      grid-template-columns: repeat(4, calc(100% / 4));
      grid-template-rows: repeat(2, 175px);
    }
  }

  &__item {
    margin: 5px;

    @include respond-to($media_medium) {
      margin: 10px;
    }

    &--0 {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }

    &--1 {
      grid-column: 3 / 4;
      grid-row: 1 / 1;
    }

    &--2 {
      grid-column: 4 / 5;
      grid-row: 1 / 1;
    }

    &--3 {
      grid-column: 3 / 4;
      grid-row: 2;
    }

    &--4 {
      grid-column: 4 / 5;
      grid-row: 2;
    }
  }
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  //border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 3px 5px 8px #eaeaea;

  &:hover {
    cursor: pointer;
  }

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  &__carousel-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__modal {
    opacity: 0;
    position: absolute;
    bottom: 0;
    height: 0;
    width: 100%;
    font-size: 13px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(252, 252, 252, 0.87);
    transition: all 0.25s ease-out;

    &--0 {
      font-size: 16px;
    }
  }

  &:hover &__modal {
    opacity: 1;
    height: 3.5em;

    &--0 {
      height: 4em;
    }
  }
}

.post-modal {
  &__caption {
    padding: 4px;

    &--0 {
      padding: 10px;
    }
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 7px;

  @include respond-to(370px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
  }

  &__profile-info {
    display: flex;
    align-items: center;

    @include respond-to($media_medium) {
      justify-content: space-between;
    }
  }

  &__btn {
    margin: 10px 0;

    @include respond-to($media_medium) {
      margin: 0;
    }
  }
}

.profile {
  &__avatar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
  }

  &__avatar {
    height: 35px;
    width: 35px;
  }

  &__login {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 600;
  }
}

.view-profile-btn {
  padding: 5px 12px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #0095f6;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    background-color: #3d96e9;
  }
}
