<div class="widget">
  <div class="widget__header header">
    <div class="header__avatar-container">
      <a class="header__story-link">
        <img class="header__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/132px-Instagram_logo_2016.svg.png" alt="">
      </a>
    </div>
    <div class="header__text">
      <a class="header__user-name"></a>
      <a class="header__location"></a>
    </div>
    <div class="header__btn">
      <a class="view-profile-btn"></a>
    </div>
  </div>


  <ul class="widget__items">
    <li class="widget_item post">
      <a class="post__container">
        <ul class="post__items">
          <li class="post__item">
            <img class="post__img" src="" alt="">
          </li>
        </ul>
        <button class="post__btn btn btn__left"></button>
        <button class="post__btn btn btn__right"></button>
        <div class="post_dots"></div>
      </a>
      <div class="post__link"></div>
      <div class="post__caption"></div>
      <div class="post__likes"></div>
    </li>
  </ul>
</div>
